<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="zhihudaily.thinkive.com.service_aidl">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name=".IndependentService"
            android:enabled="true"
            android:exported="true"
            android:permission="1000"
            android:process=":AidlService" />

        <service android:name=".RemoteCallBackService"
            android:process=":remote"/>
    </application>

</manifest>
